{% extends '::admin.html.twig' %}

{% block body %}
    <div class="content">
        <div class="row">
            {% for episode in episodes %}
                <div class="col-lg-4 thumbnail">
                    <h4>{{ episode.name }}</h4>
                    <span>{{ episode.season.number }} season of serial "{{ episode.season.serial.name }}"</span>

                    <div>
                        <a href="" class="btn btn-primary">Update</a>
                        <a href="" class="btn btn-primary">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}