{% extends '::admin.html.twig' %}

{% block body %}
    <div class="content">
        <div class="row">
            {% for season in seasons %}
                <div class="col-lg-4 thumbnail">
                    <h3>{{ season.number }} season of serial "{{ season.serial.name }}"</h3>

                    <div>
                        <a href="" class="btn btn-primary">Update</a>
                        <a href="" class="btn btn-primary">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}