{% extends '::base.html.twig' %}

{% block body %}
    <div class="content">
        <div class="row">
            {% for serial in pagination %}
                <article class="col-sm-4 thumbnail">
                    <div class="col-sm-12">
                        <img src="{{ serial.poster }}" />
                    </div>

                    <div class="col-sm-12 caption">
                        <a href="{{ path('serial_view_path', {'slug':serial.slug}) }}"><h4>{{ serial.name }}</h4></a>
                    </div>
                </article>
            {% endfor %}

            <div class="navigation">
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    List of serials
{% endblock %}
