{% extends '::base.html.twig' %}

{% block body %}
    <div class="content">
        <div class="row">
            {% for genre in genres %}
                <div class="col-lg-4 thumbnail">
                    <h3>{{ genre.name }}</h3>

                    <div>
                        <a href="{{ path('genre_view_path', {'slug' : genre.slug}) }}" class="btn btn-primary">Read more</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="navigation col-sm-12">
            {{ knp_pagination_render(genres) }}
        </div>
    </div>
{% endblock %}
